<h1 mat-dialog-title>Hero details</h1>

<mat-dialog-content>
  <mat-list>
    <mat-list-item><b>Name:</b> {{data.nameLabel}}</mat-list-item>
    <mat-list-item><b>Gender:</b> {{data.genderLabel}}</mat-list-item>
    <mat-list-item><b>Citizenship:</b> {{data.citizenshipLabel}}</mat-list-item>
    <mat-list-item><b>Skills:</b> {{data.skillsLabel}}</mat-list-item>
    <mat-list-item><b>Occupation:</b> {{data.occupationLabel}}</mat-list-item>
    <mat-list-item><b>MemberOf:</b> {{data.memberOfLabel}}</mat-list-item>
    <mat-list-item><b>Creator:</b> {{data.creatorLabel}}</mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button
          cdkFocusInitial
          (click)="onNoClick()">Close</button>
</mat-dialog-actions>
