<h1 mat-dialog-title>{{data.uuid ? 'Edit' : 'Create new'}} hero</h1>

<mat-dialog-content
     [formGroup]="form">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput
           formControlName="nameLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <input matInput
           formControlName="genderLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Citizenship</mat-label>
    <input matInput
           formControlName="citizenshipLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Skills</mat-label>
    <input matInput
           formControlName="skillsLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Occupation</mat-label>
    <input matInput
           formControlName="occupationLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>MemberOf</mat-label>
    <input matInput
           formControlName="memberOfLabel">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput
           formControlName="creatorLabel">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions
     align="end">
  <button mat-button
          (click)="onNoClick()">Close
  </button>
  <button mat-button
          cdkFocusInitial
          (click)="onSave()">
    Save
  </button>
</mat-dialog-actions>
